.button {
  background: linear-gradient(0.25turn, #ef1262, #4361ee);
  color: #fff;
  text-transform: uppercase;
  border: none;
  width: 100%;
  font-size: 14px !important;
  transition: background 0.5s ease-in-out;

  &:hover {
    background: linear-gradient(0.25turn, #4361ee, #ef1262) !important;
    color: #fff !important;
  }
}
